* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    scroll-behavior: smooth;
  }
  
  html {
    font-size: 62.5%;
    overflow-x: hidden;
  }
  
  html::-webkit-scrollbar {
    width: 1rem;
  }
  
  html::-webkit-scrollbar-track {
    background: #0d0d0d;
  }
  
  html::-webkit-scrollbar-thumb {
    background: #00d9ff;
    border-radius: 5rem;
  }

  body {
    padding-bottom: 6.5rem;
    background: #0d0d0d;
  }
  
  section {
    padding: 5rem 9%;
  }
  
  .heading {
    text-align: center;
    font-size: 6vw;
    color: #fff;
    margin-bottom: 3rem;
    text-transform: uppercase;
  }
  
  .heading span {
    text-transform: uppercase;
    color: #00d9ff;
  }
  
  .btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #00d9ff;
    padding: .7rem;
    font-size: 1.7rem;
    color: #000;
    font-weight: 600;
    padding-left: 2rem;
  }
  
  .btn i {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 1.7rem;
    text-align: center;
    background: #000;
    color: #00d9ff;
    border-radius: 50%;
    margin-left: 1rem;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  
  .btn:hover i {
    margin-left: 2rem;
  }
  

.portfolio {
    text-align: center;
  }
  
  .portfolio .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .portfolio .box-container .box {
    height: 30rem;
    overflow: hidden;
    position: relative;
  }
  
  .portfolio .box-container .box:hover .content {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  
  .portfolio .box-container .box img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .portfolio .box-container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #1a1a1a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  
  .portfolio .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
  }
  
  .portfolio .box-container .box .content p {
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 2;
    color: #aaa;
  }
  
  .portfolio .box-container .box .content a {
    font-size: 2rem;
    color: #00d9ff;
  }
  
  .portfolio .box-container .box .content a:hover {
    color: #fff;
  }
  