* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }

#container-all-section {
    display: flex;
    flex-direction: column;
    height: 85vh;
    background-color: #02084D;
    width: 100%;
    clip-path: polygon(100% 0, 100% 21%, 100% 33%, 84% 100%, 25% 100%, 0 100%, 0 0);


  }



  /* title css */

  #title-contact-me{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
    height: 30%;
    
  }

  #title-contact{
    color: white;

  }
  #me{
    margin-left: 20px;
    color: #00D9FF;
    ;
  }


  /* forum css container */

  #container-forum{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  #img-joestick-left{
    display: flex;
  }


  #contact-forum{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
  }

.container{
    margin-bottom: 10px;
}

.small-input{
  width: 280px;
  height: 35px;

}

.input{
    border-radius: 5px;
    background-color: rgb(122, 122, 122);
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 14px;
    border: rgb(0, 0, 0);
    padding-left: 5px;

}

.input::placeholder{
    color: rgb(207, 206, 206);
}

#container-due{
    display: flex;
    flex-direction: column;

}

#text-description{

    padding-top: 10px;
    padding-left: 3px;
}

#submit{
    width: 100px;
    height: 30px;
    border: rgb(0, 0, 0);
    border-radius: 5px;
    background-color: #00D9FF;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    cursor: pointer;
}

#submit:hover{
    background-color: #028fa8;
    -moz-transition: all 0.5s ease-in;
    /* WebKit */
    -webkit-transition: all 0.5s ease-in;
    /* Opera */
    -o-transition: all 0.5s ease-in;
    /* Standard */
    transition: all 0.5s ease-in;
}

#imgdue-josestick{
  display: none;
}

#button-submit{
  display: flex;
}

.icons{
  display: flex;
  justify-content: center;
  padding: 0.8rem 0;
  
}
.icons li{
  list-style-type: none;
  background: #fff;
  color: rgb(0, 0, 0);
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  
}
.icons li:hover{
  background: #d0fdce;
  color: #000;
}
.icons a:after {
  display: none;
}
.icons button{
  background: transparent;
  border: 0;
}
.icons a {
  color: inherit;
}
.text-envelope{
  color: #000000;
}
.jam--fiverr {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-2.5 -2 24 24'%3E%3Cg fill='%23000'%3E%3Cpath d='M16.25 16.25v-10h-10v-.625c0-1.034.841-1.875 1.875-1.875H10V0H8.125A5.632 5.632 0 0 0 2.5 5.625v.625H0V10h2.5v6.25H0V20h8.75v-3.75h-2.5V10h6.285v6.25H10V20h8.75v-3.75z'/%3E%3Ccircle cx='14.375' cy='1.875' r='1.875'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

@media only screen and (max-width: 1300px){
  #container-all-section {
    clip-path: polygon(100% 0, 100% 21%, 100% 33%, 100% 90%, 41% 96%, 0 100%, 0 0);


  }

}


@media only screen and (max-width: 1150px){
  #container-all-section {
    clip-path: polygon(100% 0, 100% 21%, 100% 33%, 100% 90%, 41% 96%, 0 100%, 0 0);
    height: 90vh;

  }
  #container-forum{

    align-items: center;
    justify-content:flex-start;
    margin-bottom: 100px;
  }

  .small-input{
    width: 200px;
    height: 35px;
  
  }#text-description{
    width: 410px;
  }

}




@media only screen and (max-width: 950px){
  #img-josestick{
    display: none;
  }

  #container-forum{
    flex-direction: column-reverse;
    margin-bottom: 70px;
    
  }
  #contact-forum{
    margin-right: 0px;
  }


  #imgdue-josestick{
    display: block;
    height: 200px;
  }

  .small-input{
    width:250px ;
    height: 40px;
  }

  #button-submit{
    display: flex;
    justify-content: center;
  }

  #submit{
   width: 200px; 
   height: 40px;
   margin-bottom: 10px;
  }

  #text-description{
    width: 505px;
  }
}



@media only screen and (max-width: 590px){

  #container-all-section{
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 95%, 70% 100%, 30% 100%, 0 95%, 0% 30%);

  }
  #title-contact-me{
    font-size: 28px;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    height: 150px;
    margin-top: 20px;
    
  }

  #container-forum{
    margin-top: 0px;
  }
  .container{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    align-items: center;
    

  }

  .small-input{
    width:350px ;
    height: 50px;
    margin-bottom: 10px;
  }


  #text-description{
    width: 350px;
    
  }

  #submit{
    margin-top: 10px;
  }

}