* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
  }
  
  html {
    font-size: 62.5%;
    overflow-x: hidden;
  }
  
  html::-webkit-scrollbar {
    width: 1rem;
  }
  
  html::-webkit-scrollbar-track {
    background: #0d0d0d;
  }
  
  html::-webkit-scrollbar-thumb {
    background: #00d9ff;
    border-radius: 5rem;
  }

  body {
    padding-bottom: 6.5rem;
    background: #0d0d0d;
  }
  
  section {
    padding: 5rem 9%;
  }
  
  .heading {
    text-align: center;
    font-size: 6vw;
    color: #fff;
    margin-bottom: 3rem;
    text-transform: uppercase;
  }
  
  .heading span {
    text-transform: uppercase;
    color: #00d9ff;
  }
  
  .btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #00d9ff;
    padding: .7rem;
    font-size: 1.7rem;
    color: #000;
    font-weight: 600;
    padding-left: 2rem;
  }
  
  .btn i {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 1.7rem;
    text-align: center;
    background: #000;
    color: #00d9ff;
    border-radius: 50%;
    margin-left: 1rem;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  
  .btn:hover i {
    margin-left: 2rem;
  }
  


.about .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
  }
  
  .about .row .info-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
  }
  
  .about .row .info-container h1 {
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 1rem;
  }
  
  .about .row .info-container .box-container {
    padding: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
  }
  
  .about .row .info-container .box-container .box {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20rem;
            flex: 1 1 20rem;
  }
  
  .about .row .info-container .box-container .box h3 {
    font-size: 1.7rem;
    color: #fff;
    padding: 1rem 0;
    font-weight: normal;
    text-transform: none;
  }
  
  .about .row .info-container .box-container .box h3 span {
    color: #aaa;
    font-weight: lighter;
  }
  
  .about .row .count-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
  }
  
  .about .row .count-container .box {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20rem;
            flex: 1 1 20rem;
    padding: 3rem 4rem;
    border-radius: .5rem;
    background: #1a1a1a;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  }
  
  .about .row .count-container .box h3 {
    font-size: 5rem;
    color: #00d9ff;
  }
  
  .about .row .count-container .box p {
    font-size: 2rem;
    color: #aaa;
  }
  
  .skills .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
  }
  
  .skills .box-container .box {
    padding: 2rem;
    text-align: center;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    border-radius: .5rem;
    background: #1a1a1a;
  }
  
  .skills .box-container .box:hover {
    background: #fff;
  }
  
  .skills .box-container .box:hover h3 {
    color: #0d0d0d;
  }
  
  .skills .box-container .box img {
    height: 10rem;
    margin-bottom: 1rem;
  }

  .skills .box-container .box:nth-child(14) img {
    height: 13rem;
    width: 13rem;
    margin-bottom: 0.5rem;
  }

  .skills .box-container .box:nth-child(11) img,  .skills .box-container .box:nth-child(12) img {
    margin-bottom: 3rem;
  }
  
  .skills .box-container .box h3 {
    color: #fff;
    font-size: 1.7rem;
    font-weight: normal;
    text-transform: uppercase;
  }

  .titles{
    justify-content: space-evenly;
    display: flex;
  }
  .exp-title{
    margin-top: 0%;
    text-align: left;
    font-size: 2vw;
    color: #00d9ff;
    margin-bottom: 8rem;
    text-transform: uppercase;
    letter-spacing: 10px;
  }
  .projects-title{
    margin-top: 0%;
    text-align:end;
    font-size: 2vw;
    color: #00d9ff;
    margin-bottom: 8rem;
    text-transform: uppercase;
    letter-spacing: 10px;
  }

  .box-container:nth-child(13) .box img{
    object-position: center;
  }
  
  .education .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .education .box-container .box {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    margin-left: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 3.5rem;
    padding-bottom: 3rem;
    border-left: 0.1rem solid #aaa;
    position: relative;
  }
  
  .education .box-container .box i {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    border-radius: 50%;
    background: #00d9ff;
    color: #000;
    text-align: center;
    position: absolute;
    top: -1rem;
    left: -2.5rem;
  }
  
  .education .box-container .box span {
    font-size: 1.7rem;
    color: #fff;
    border-radius: 5rem;
    padding: .5rem 1.5rem;
    background: #1a1a1a;
  }
  
  .education .box-container .box h3 {
    font-size: 2rem;
    padding: 1rem 0;
    color: #fff;
    padding-top: 3rem;
    font-weight: normal;
  }
  
  .education .box-container .box p {
    font-size: 1.5rem;
    color: #aaa;
    line-height: 2;
  }

  h2 {
    margin: 5%;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
  }
  .timeline {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    position: relative;
  }
  .timeline__event {
    margin-bottom: 50px;
    position: relative;
    display: flex;
    margin: 20px 0;
    border-radius: 6px;
    align-self: center;
    width: 90vw;
  }
  .timeline__event:nth-child(2n + 1) {
    flex-direction: row-reverse;
  }
  .timeline__event:nth-child(2n + 1) .timeline__event__date {
    border-radius: 0 6px 6px 0;
  }
  .timeline__event:nth-child(2n + 1) .timeline__event__content {
    border-radius: 6px 0 0 90px;
  }
  .timeline__event:nth-child(2n + 1) .timeline__event__icon:before {
    content: "";
    width: 2px;
    height: 100%;
    background: #00d9ff;
    position: absolute;
    top: 0%;
    left: 50%;
    right: auto;
    z-index: -1;
    transform: translateX(-50%);
    animation: fillTop 2s forwards 4s ease-in-out;
  }
  .timeline__event:nth-child(2n + 1) .timeline__event__icon:after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    right: 0;
    z-index: -1;
    top: 50%;
    left: auto;
    transform: translateY(-50%);
    animation: fillLeft 2s forwards 4s ease-in-out;
  }
  .timeline__event__title {
    font-size: 1.8rem;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
  }
  .timeline__event:nth-child(1) .timeline__event__title {
    color: #00d9ff;
  }
  .timeline__event:nth-child(4) .timeline__event__title {
    color: #00ffbf;
  }
  .timeline__event:nth-child(5) .timeline__event__title {
    color: #ff9bd2;
  }

  
  .timeline__event__content {
    padding: 30px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    background: #1a1a1a;
    width: calc(40vw - 84px);
    border-radius: 0 6px 6px 0;
  }
  .timeline__event__content .timeline__event__description {
    padding: 30px;
    font-size: 1.5rem;
  }
  .timeline__event__date {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 0 20px;
    border-radius: 6px 0 0 6px;
  }
  .timeline__event:nth-child(1) .timeline__event__date {
    color: #96dfff;
    background: #17a5be;
  }
  .timeline__event:nth-child(4) .timeline__event__date {
    color: #a2ff80;
    background: #009728;
  }
  .timeline__event:nth-child(5) .timeline__event__date {
    color: #ff9bd2;
    background: #da0444;
  }
  .timeline__event__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9251ac;
    padding: 20px;
    align-self: center;
    margin: 0 20px;
    background: #00d9ff;
    border-radius: 100%;
    width: 40px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    padding: 90px;
    height: 40px;
    position: relative;
  }

  .timeline__event--type1:nth-child(4) .timeline__event__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9251ac;
    padding: 20px;
    align-self: center;
    margin: 0 20px;
    background: #00ffbf;
    border-radius: 100%;
    width: 40px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    padding: 90px;
    height: 40px;
    position: relative;
  }

  .timeline__event__icon i {
    font-size: 32px;
  }
  .timeline__event:nth-child(2) .timeline__event__icon:before {
    content: "";
    width: 2px;
    height: 100%;
    background: #00d9ff;
    position: absolute;
    top: 0%;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    animation: fillTop 2s forwards 4s ease-in-out;
  }
  .timeline__event__icon:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #00d9ff;
    position: absolute;
    left: 0%;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    animation: fillLeftOdd 2s forwards 4s ease-in-out;
  }

  .timeline__event--type1:nth-child(4) .timeline__event__icon:after{
    background: #00ffbf;
  }
  
  .timeline__event--type1:nth-child(5) .timeline__event__icon:after{
    background: #ff9bd2;
  }
  
  .timeline__event__description {
    flex-basis: 60%;
    color: #fff;
  }
  .timeline__event--type2:after {
    background: #555ac0;
  }
  .timeline__event--type2 .timeline__event__date {
    color: #87bbfe;
    background: #003aad;
  }
  .timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:before, .timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:after {
    background: #87bbfe;
  }
  .timeline__event--type2 .timeline__event__icon {
    background: #00A2FF;
    color: #55c0b7;
  }

  
  .timeline__event--type2 .timeline__event__icon:before, .timeline__event--type2 .timeline__event__icon:after {
    background: #87bbfe;
  }
  .timeline__event--type2 .timeline__event__title {
    color: #00A2FF;
  }
  .timeline__event--type3:after {
    background: #24b47e;
  }
  .timeline__event--type3 .timeline__event__date {
    color: #e966cc;
    background-color: #a02886;
  }
  .timeline__event--type3:nth-child(1) .timeline__event__icon:before {
    background: #00d9ff; 
  }

  .timeline__event--type3:nth-child(2) .timeline__event__icon:after{
    background: #00A2FF;
  }
  .timeline__event--type3:nth-child(3) .timeline__event__icon:after{
    background: #fa5db3;
  }
  
  .timeline__event--type3 .timeline__event__icon {
    background: #fa5db3;
    color: #24b47e;
  }
  .timeline__event--type1:nth-child(5) .timeline__event__icon {
    background: #ff9bd2;
    color: #24b47e;
  }
  .timeline__event--type3 .timeline__event__icon:before, .timeline__event--type3 .timeline__event__icon:after {
    background: #aff1b6;
  }
  .timeline__event--type3 .timeline__event__title {
    color: #fa5db3;
  }
  .timeline__event:last-child .timeline__event__icon:before {
    content: none;
  }
  @media (max-width: 786px) {
    .timeline__event {
      flex-direction: column;
      align-self: center;
    }
    .timeline__event__content {
      width: 100%;
    }
    .timeline__event__icon {
      border-radius: 6px 6px 0 0;
      width: 100%;
      margin: 0;
      box-shadow: none;
    }
    .timeline__event__icon:before, .timeline__event__icon:after {
      display: none;
    }
    .timeline__event__date {
      border-radius: 0;
      padding: 20px;
    }
    .timeline__event:nth-child(2n + 1) {
      flex-direction: column;
      align-self: center;
    }
    .timeline__event:nth-child(2n + 1) .timeline__event__date {
      border-radius: 0;
      padding: 20px;
    }
    .timeline__event:nth-child(2n + 1) .timeline__event__icon {
      border-radius: 6px 6px 0 0;
      margin: 0;
    }
  }
  @keyframes fillLeft {
    100% {
      right: 100%;
    }
  }
  @keyframes fillTop {
    100% {
      top: 120%;
    }
  }
  @keyframes fillLeftOdd {
    100% {
      left: 100%;
    }
  }
  